# Use PHP 5.5

AddHandler application/x-httpd-php55 .php

<IfModule mod_suphp.c>
    suPHP_ConfigPath /opt/php55/lib
</IfModule>

RewriteEngine On
RewriteRule ^([A-Za-z0-9_,-]+)?(.html)?(/)?([A-Za-z0-9_,-]+)?(.html)?(/)?([A-Za-z0-9_,-]+)?(.html)?(/)?([A-Za-z0-9_,-]+)?(.html)?(/)?([A-Za-z0-9_,-]+)?(.html)?(/)?([A-Za-z0-9_,-]+)?(.html)?(/)?$ index.php?$1?$2?$3?$4?$5?$6 [QSA]

RewriteRule ^(~.*)+$ / [R=301,L]




